.why {
  text-align: center;
  background-color: var(--gray);
  padding: 5em 0;

  .description {
    margin-bottom: 4em;
    font-size: 1em;
  }

  &__item {
    .description {
      margin-bottom: 2em;
    }

    img {
      margin-bottom: 1.2em;
    }
  }

}