.why {
  text-align: center;
  background-color: var(--gray);
  padding-top: 4.5em;

  .description {
    margin-bottom: 4em;
  }

  &__item {
    .description {
      margin-bottom: 2em;
      font-size: 1em;
    }

    img {
      margin-bottom: 1.2em;
    }
  }

}